@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,400&family=Roboto:wght@100;300;400&display=swap");

:root {
  --brand-white: #ffffff;
  --brand-black: #000000;
  --brand-grey: rgb(235, 235, 235);
  --brand-font-primary: "Montserrat", Helvetica, Arial, sans-serif;
  --brand-font-secondary: "Roboto", Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

h1,
h2,
h3 {
  font-family: var(--brand-font-primary);
}

a {
  font-family: var(--brand-font-secondary);
}

a:link,
a:visited {
  text-decoration: none;
}

.container {
  padding: 80px 50px 0 50px;
  height: 100%;
  background-color: var(--brand-grey);
}
